<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managerservice.mapper.QrMapper">

    <resultMap type="com.example.managerservice.vo.GetQRUrlVo" id="getQRUrl" >
        <result property="facility_name" column="facilityName"/>
        <result property="facility_address" column="facilityAddress"/>
        <result property="facility_qr_location" column="facilityQRUrl"/>
    </resultMap>


    <select id="getQRCode" resultMap="getQRUrl" resultType="java.lang.String">
        select facility_qr_location
        from facility
        where facility_name = #{facilityName} AND facility_address = #{facilityAddress}
    </select>



</mapper>