<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managerservice.mapper.QrMapper">

    <resultMap type="com.example.managerservice.dto.FacilityDto" id="facilityInfo" >
        <result property="facility_no" column="facilityId"/>
        <result property="userId" column="mg_user_uuid"/>
        <result property="facility_name" column="facilityName"/>
        <result property="facility_address" column="facilityAddress"/>
        <result property="facility_qr_code" column="facilityQRCodeUrl"/>
    </resultMap>

    <select id="getQRUrl" resultMap="facilityInfo">
        select *
        from facility
        where facility_name = #{facilityName}
    </select>



</mapper>