<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managerservice.mapper.ReportMapper">

    <resultMap id="reportInfo" type="com.example.managerservice.dto.ReportDto">
        <result property="report_num" column="reportNum"/>
        <result property="report_title" column="reportTitle"/>
        <result property="report_text" column="reportText"/>
        <result property="report_date" column="reportDate"/>
        <result property="report_img" column="reportImg"/>
        <result property="report_status" column="reportStatus"/>
        <result property="user_uuid" column="userUuid"/>
        <result property="facility_no" column="facilityNo"/>
    </resultMap>

    <resultMap id="reportListInfo" type="com.example.managerservice.vo.GetMyReportList">
        <result property="report_num" column="reportNum"/>
        <result property="report_title" column="reportTitle"/>
        <result property="report_text" column="reportText"/>
        <result property="report_type" column="reportType"/>
        <result property="report_date" column="reportDate"/>
        <result property="report_img" column="reportImg"/>
        <result property="report_status" column="reportStatus"/>
        <result property="user_uuid" column="userUuid"/>
        <result property="user_nickname" column="userNickname"/>
        <result property="facility_no" column="facilityNo"/>
    </resultMap>

    <!-- 신고 하기 -->
    <insert id="reportRegister" useGeneratedKeys="true"
            keyProperty="reportNum" keyColumn="report_num">
        insert into facility_report(
                                    report_num,
                                    report_title,
                                    report_text,
                                    report_type,
                                    report_date,
                                    report_img,
                                    user_uuid,
                                    facility_no
                                    )
        values (
                #{reportNum},
                #{reportTitle},
                #{reportText},
                #{reportType},
                #{reportDate},
                #{reportImg},
                #{userUuid},
                #{facilityNo}
                )
    </insert>

    <!-- 신고 상세 보기 -->
    <select id="getReport" resultMap="reportInfo">
        select *
        from facility_report
        where report_num = #{reportNum};

    </select>
    
    <update id="reportImgUpdate">
        update facility_report
        SET report_img = #{reportImg}
        WHERE report_num = #{reportNum};
    </update>

    <!-- 내가 신고한 리스트 불러오기 -->
    <select id="getMyReport" resultMap="reportListInfo">
        select *
        FROM (select * from facility_report
              WHERE user_uuid = #{userUuid} ) as fr
                 INNER JOIN user u ON fr.user_uuid = u.user_uuid
        ORDER BY report_num DESC;
    </select>

    <!-- 내가 신고한 리스트 불러오기 5개만 -->
    <select id="getMyReportLt" resultMap="reportListInfo">
        select *
        FROM (select * from facility_report
              WHERE user_uuid = #{userUuid} ) as fr
        INNER JOIN user u ON fr.user_uuid = u.user_uuid
        ORDER BY report_num DESC LIMIT 5;
    </select>

    <!-- 신고 처리 현황 별 리스트 -->
    <select id="getFacilityReport" resultMap="reportListInfo">
        select *
        FROM facility_report
        WHERE facility_no = #{facilityNo} AND report_status = #{searchValue}
        ORDER BY report_num DESC LIMIT 5;
    </select>

    <!-- 신고 리스트 불러오기 - 매니저 메인페이지에서 5개 -->
    <select id="getReportFacilityLt" resultMap="reportListInfo">
        select *
        FROM (select * from facility_report
              WHERE facility_no = #{facilityNo} ) as fr
                 INNER JOIN user u ON fr.user_uuid = u.user_uuid
        ORDER BY report_num DESC LIMIT 5;
    </select>

    <update id="updateReport">
        update facility_report
        SET report_status = #{status}
        WHERE report_num = #{reportNum};
    </update>



</mapper>