<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userservice.mapper.ManagerMapper">

    <resultMap type="com.example.userservice.dto.ManagerDto" id="managerInfo" >
        <result property="manager_uuid" column="managerUuid"/>
        <result property="manager_email" column="managerEmail"/>
        <result property="manager_password" column="managerPassword"/>
        <result property="manager_name" column="managerName"/>
        <result property="manager_phone_number" column="managerPhoneNum"/>
        <result property="manager_join_date" column="managerJoinDate"/>
        <result property="manager_nickname" column="managerNickname"/>
        <result property="manager_access_type" column="managerAccessType"/>
        <result property="manager_login_key" column="managerLoginKey"/>
        <result property="facility_no" column="facilityNo"/>
        <result property="facility_grade" column="facilityGrade"/>
    </resultMap>
    <resultMap  type="com.example.userservice.vo.FindManagerIdVo" id="findMangerIdVo">
        <result property="manager_email" column="userId"/>
        <result property="manager_name" column="managerName"/>
        <result property="manager_phone_number" column="managerPhoneNum"/>
    </resultMap>
    <resultMap  type="com.example.userservice.vo.AdminVO" id="AdminVO">
        <result property="manager_uuid" column="managerUuid"/>
        <result property="manager_name" column="managerName"/>
        <result property="manager_phone_num" column="userPhoneNumber"/>
        <result property="facility_grade" column="facilityGrade"/>
    </resultMap>
    <resultMap  type="com.example.userservice.dto.FacilityDto" id="FacilityDto">
        <result property="facility_no" column="facilityNo"/>
        <result property="facility_name" column="facilityName"/>
        <result property="facility_address" column="facilityAddress"/>
        <result property="facility_qr_location" column="facilityQrLocation"/>
        <result property="facility_owner" column="facilityOwner"/>
    </resultMap>
    <update id="SignupManager" parameterType="com.example.userservice.dto.ManagerDto">
        UPDATE manager
        SET manager_uuid = #{managerUuid}, manager_password = #{managerPassword}, manager_name = #{managerName}, manager_nickname = #{managerNickname},
            manager_phone_number = #{managerPhoneNum}, manager_join_date = #{managerJoinDate}
        where manager_email = #{managerEmail}
    </update>

    <select id="ManagerEmailCheck" resultType="com.example.userservice.dto.ManagerDto">
        select *
        from manager
        where manager_email = #{managerEmail}
    </select>


    <update id="ManagerEmailCode" parameterType="com.example.userservice.dto.ManagerDto">
        UPDATE manager
        SET manager_login_key = #{LoginKey}
        where manager_email = #{managerEmail}
    </update>

    <insert id="ManagerEmailConform" parameterType="com.example.userservice.dto.ManagerDto">
        insert into manager(manager_uuid,
                         manager_email)
        values(#{temporaryUuid},
               #{managerEmail})
    </insert>

    <select id="ManagerNickNameCheck" resultMap="managerInfo">
        select *
        from manager
        where manager_nickname = #{managerNickName}
    </select>

    <update id="NickNameCheckAccess" parameterType="com.example.userservice.dto.ManagerDto">
        update manager
        set manager_access_type = #{AccessType}, manager_nickname = #{nickName}
        where manager_email = #{managerEmail}
    </update>

    <select id="findManagerEmail" resultType="com.example.userservice.dto.ManagerDto">
        select *
        from manager
        where manager_email = #{managerEmail}
    </select>

    <select id="findManagerName" resultType="com.example.userservice.dto.ManagerDto">
        select *
        from manager
        where manager_name = #{managerName}
    </select>

    <select id="findManagerId" resultType="java.lang.String">
        select manager_email
        from manager
        where manager_phone_number = #{managerPhoneNumber} AND manager_name = #{managerName}
    </select>

    <update id="changeManagerPW">
        update manager
        set manager_password = #{managerPassword}
        where manager_uuid = #{managerUuid}
    </update>

    <select id="findManagerUuid" resultType="com.example.userservice.dto.ManagerDto">
        select *
        from manager
        where manager_uuid = #{managerUuid}
    </select>

    <update id="resetPassword">
        update manager
        set manager_password = #{managerPassword}
        where manager_email = #{managerEmail}
          and manager_name = #{managerName}
    </update>

    <select id="findManagerID" resultType="com.example.userservice.dto.ManagerDto">
        select *
        from manager
        where manager_email = #{managerEmail}
    </select>

    <select id="facilityMasterCheck" resultType="com.example.userservice.dto.FacilityDto">
        select *
        from facility
        where facility_no = #{facilityNo}
    </select>

<!--    <select id="AdminList" resultMap="AdminVO">-->
<!--        select *-->
<!--        from manager-->
<!--        where facility_no = #{facilityNo}-->
<!--    </select>-->

<!--    <update id="addAdmin" parameterType="com.example.userservice.dto.ManagerDto">-->
<!--        update manager-->
<!--        set facility_grade = #{facilityGrade} , facility_no = #{facilityNo}-->
<!--        where manager_name = #{managerName}-->
<!--    </update>-->

<!--    <update id="deleteAdmin" parameterType="com.example.userservice.dto.ManagerDto">-->
<!--        update manager-->
<!--        set facility_grade = #{facilityGrade} , facility_no = #{facilityNo}-->
<!--        where manager_name = #{managerName}-->
<!--    </update>-->

    <update id="changeOwner" parameterType="com.example.userservice.dto.FacilityDto">
        update facility
        set facility_grade = #{facilityGrade} , facility_no = #{facilityNo}
        where manager_name = #{managerName}
    </update>
</mapper>