<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.facilityservice.mapper.FacilityJoinMapper">

    <!-- 내가 가입한 시설물 불러오기 -->
    <resultMap type="com.example.facilityservice.vo.ResponseGetMyFacility" id="getMyFacility">
        <result property="facilityNum" column="facility_num"/>
        <result property="facilityName" column="facility_name"/>
        <result property="facilityOwner" column="facility_owner"/>
        <result property="facilityOwnerName" column="name"/>
        <result property="facilityAddress" column="facility_address"/>
        <result property="likeBool" column="facility_like_bool"/>
    </resultMap>



    <!-- 시설물 가입하기 -->
    <insert id="joinFacilityUser">
        INSERT INTO ${table} VALUES(
                                    #{uuid},
                                    #{facilityNum},
                                    0);
    </insert>

    <!-- 시설물 가입하기 -->
    <insert id="joinFacilityManager">
        INSERT INTO ${table} VALUES(
                                       #{uuid},
                                       #{facilityNum});
    </insert>

    <!-- 시설물 가입 - 중복 가입 검사 -->
    <select id="conflictValidJoin" resultType="java.lang.Integer">
        SELECT if(count(*) = 0, 0, 1)
        FROM ${table}
        WHERE ${colum} = #{uuid} AND facility_num = #{facilityNum}
    </select>

    <!-- 시설물 탈퇴 -->
    <delete id="resignationFacility" parameterType="com.example.facilityservice.vo.RequestResignationFacility">
        DELETE
        FROM ${table}
        WHERE ${colum} = #{uuid} AND facility_num = #{facilityNum};
    </delete>

    <!-- 시설물 탈퇴 - 사용자 존재 여부 검사 -->
    <select id="isValidJoin" resultType="java.lang.Integer" >
        SELECT if(count(*) = 0, 0, 1)
        FROM ${table}
        WHERE ${colum} = #{uuid} AND facility_num = #{facilityNum};
    </select>

    <!-- 내가 가입한 시설물 불러오기 ( Manager ) -->
    <select id="getMyFacilityListManager" resultMap="getMyFacility">
        SELECT m.manager_name as name,
               f.facility_num,
               f.facility_name,
               f.facility_owner,
               f.facility_address
        FROM (SELECT * FROM ${table} WHERE ${colum} = #{uuid}) as um
            INNER JOIN facility f ON f.facility_num = um.facility_num
            INNER JOIN manager m ON m.manager_uuid = f.facility_owner
    </select>

    <!-- 내가 가입한 시설물 불러오기 ( User ) -->
    <select id="getMyFacilityListUser" resultMap="getMyFacility">
        SELECT m.manager_name as name,
               f.facility_num,
               f.facility_name,
               f.facility_owner,
               um.facility_like_bool
        FROM (SELECT * FROM ${table} WHERE ${colum} = #{uuid}) as um
                 INNER JOIN facility f ON f.facility_num = um.facility_num
                 INNER JOIN manager m ON m.manager_uuid = f.facility_owner
    </select>

    <!-- 내가 가입한 시설 좋아요 -->
    <update id="updateFacilityLike">
        update facility_join_user
        set facility_like_bool = ${bool}
        where user_uuid = #{userUuid} AND facility_num = #{facilityNum}
    </update>

    <!-- 내가 가입한 시설 좋아요 - 좋아요 여부 -->
    <select id="facilityLikeBool" resultType="java.lang.Integer">
        select if(facility_like_bool = 0, 0, 1)
        from facility_join_user
        where user_uuid = #{userUuid} AND facility_num = #{facilityNum}
    </select>
    
    <!-- 시설물 가입 - 매니저 검색 ( OpenFeign ) -->
    <select id="findJoinManager" resultType="java.lang.String">
        select if(manager_uuid = null, 'null',manager_uuid)
        from manager
        where manager_name = #{managerName} AND manager_phone_number = #{managerPhoneNumber}
    </select>

    <!-- 시설물에 가입된 매니저 불러오기 -->
    <resultMap type="com.example.facilityservice.vo.ResponseFacilityManagerList" id="managerList">
        <result property="managerUuid" column="manager_uuid"/>
        <result property="managerName" column="manager_name"/>
        <result property="managerPhoneNumber" column="manager_phone_number"/>
        <result property="facilityAddress" column="facility_address"/>
        <result property="facilityName" column="facility_name"/>
        <result property="managerGrade" column="manager_grade"/>
    </resultMap>

    <select id="getFacilityManagerList" resultMap="managerList">
        select fjm.manager_uuid,
               m.manager_name,
               f.facility_address,
               f.facility_name,
               fmg.manager_grade,
               m.manager_phone_number
        from (select * from facility_join_manager where facility_num = #{facilityNum}) as fjm
        INNER JOIN manager m ON fjm.manager_uuid = m.manager_uuid
        INNER JOIN facility_manager_grade fmg ON fmg.manager_uuid = fjm.manager_uuid AND fmg.facility_num = fjm.facility_num
        INNER JOIN facility f ON f.facility_num = fjm.facility_num
    </select>

    <!-- 시설물에 가입된 매니저 삭제 - 매니저 직급 불러오기 -->
    <select id="getManagerGrade" resultType="java.lang.String">
        select manager_grade
        from facility_manager_grade
        where manager_uuid = #{managerUuid} AND facility_num = #{facilityNum};
    </select>

    <!-- 시설물에 가입된 매니저 삭제 -->
    <delete id="joinDeleteManager">
        delete
        from facility_join_manager
        where manager_uuid = #{managerUuid} AND facility_num = #{facilityNum};
    </delete>
</mapper>