<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.facilityservice.mapper.FacilityReportMapper">

    <resultMap id="reportList" type="com.example.facilityservice.vo.ResponseReportList">
        <result property="reportNum" column="report_num"/>
        <result property="reportTitle" column="report_title"/>
        <result property="reportText" column="report_text"/>
        <result property="reportType" column="report_type"/>
        <result property="reportDate" column="report_date_time"/>
        <result property="reportImg" column="report_image"/>
        <result property="userUuid" column="user_uuid"/>
        <result property="facilityNum" column="user_uuid"/>

    </resultMap>

    <!-- 신고 하기 -->
    <insert id="registerReport" useGeneratedKeys="true" keyProperty="reportNum" keyColumn="report_num">
        insert into report( report_num,
                            report_title,
                            report_text,
                            report_type,
                            report_date_time,
                            report_image,
                            user_uuid,
                            facility_num)
        values (#{reportNum},
                #{reportTitle},
                #{reportText},
                #{reportType},
                #{reportDate},
                #{reportImg},
                #{userUuid},
                #{facilityNum})
    </insert>
    <!-- 신고 하기 - 이미지 업데이트 -->
    <update id="updateReportImage">
        update report set report_image = #{reportImage}
    </update>

    <!-- 신고 목록 불러오기 (제목, 종류, 작성자, 작성일) -->
    <select id="getReportList" resultMap="reportList">
        select r.report_num,
               r.report_title,
               r.report_type,
               u.user_name,
               u.user_uuid,
               r.report_date_time
        from (select * from report where facility_num = #{facilityNum} AND report_status = {status}) as r
        INNER JOIN user u ON u.user_uuid = r.user_uuid
    </select>

    <!-- 내가 신고한 리스트 불러오기 - All -->
    <select id="getMyReportListMain" resultMap="reportList">
        select r.report_num,
               r.report_title,
               r.report_status
               r.report_type,
               u.user_name,
               u.user_uuid,
               r.report_date_time
        from (select * from report where facility_num = #{facilityNum} AND user_uuid = #{userUuid}) as r
                 INNER JOIN user u ON u.user_uuid = r.user_uuid
    </select>

    <!-- 내가 신고한 리스트 불러오기 - All -->
    <select id="getMyReportList" resultMap="reportList">
        select r.report_num,
               r.report_title,
               r.report_status
               r.report_type,
               u.user_name,
               u.user_uuid,
               r.report_date_time
        from (select * from report where facility_num = #{facilityNum} AND user_uuid = #{userUuid) as r
                 INNER JOIN user u ON u.user_uuid = r.user_uuid
    </select>
</mapper>