<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managerservice.mapper.FacilityMapper">

    <!-- 시설물 등록하기 -->
    <insert id="registerFacility" parameterType="com.example.facilityservice.vo.RequestFacilityRegister">
        INSERT INTO ALL
            INTO facility VALUES (
                #{facilityNum},
                #{facilityName},
                #{facilityAddress},
                #{facilityQr})
            INTO facility_join_manager VALUES(
                #{managerId},
                #{facilityNum})
    </insert>

    <!-- 시설물 생성 - 주소 중복 검사 -->
    <select id="conflictValidAddress" resultType="java.lang.Integer">
        SELECT if(COUNT(*) = 1, 1, 0)
        FROM facility
        WHERE facility_address = #{facilityAddress}
    </select>

    <!-- 사설물 수정 - 시설물 이름 -->
    <update id="facilityChangeName">
        update facility
        set facility_nmae = #{changeName}
        where facility_num = #{facilityNum}
    </update>

    <!-- 사설물 수정 - 시설물 주소 -->
    <update id="facilityChangeAddress">
        update facility
        set facility_address = #{changeAddress}
        where facility_num = #{facilityNum}
    </update>

    <!-- 시설물 삭제 -->
    <delete id="deleteFacility">
        delete
        from facility
        where manager_uuid = #{managerUuid}
    </delete>


</mapper>