<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.facilityservice.mapper.FacilityReportMapper">

    <!-- 신고 하기 -->
    <insert id="registerReport" useGeneratedKeys="true" keyProperty="reportNum" keyColumn="report_num">
        insert into report( report_num,
                            report_title,
                            report_text,
                            report_type,
                            report_date_time,
                            report_image,
                            user_uuid,
                            facility_num)
        values (#{reportNum},
                #{reportTitle},
                #{reportText},
                #{reportType},
                #{reportDate},
                #{reportImg},
                #{userUuid},
                #{facilityNum})
    </insert>

    <update id="updateReportImage">
        update report set report_image = #{reportImage}
    </update>

</mapper>